html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

q {
  quotes: none;
}

q::after, q::before {
  content: '';
  content: none;
}

blockquote {
  quotes: none;
}

blockquote::after, blockquote::before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*

!  01 TYPOGRAPHY SYSTEM

* Font size system (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

* Font Weights:
Default: 400

* Line heights:
Default: 1

! 02 COLORS

* Primary: 
- #e67e22
* Tints:
-  
* Shades: 
- 
* Accents: 
- 
* Grays: 
- #555555
- #333333

! 05 SHADOWS

! 06 BORDER-RADIUS

! 07 WHITESPACE
* Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
/*
0 - 600px: 				Phone
600px - 900px: 		Tablet Portrait
900px - 1200px: 	Tablet Landscape
[1200px - 1800px] is where our normal styles apply Desktop
1800px + : 				Big Desktop


$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER : Base + Typography > General Layout + grid > page layout > components
*/
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555555;
}

.heading-sub {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
  /* &--gray{
			color: $color-gray-4;
			text-align: center;
			margin-bottom: 2.4rem;
		} */
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888888;
}

.heading-primary, .heading-secondary, .heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #333333;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.1;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.heading-footer {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.margin-right-small {
  margin-right: 1.6rem !important;
}

.margin-bottom-medium {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 6.4rem;
          column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid--2-cols {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.grid--6-cols {
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--footer {
  -ms-grid-columns: (1.5fr)[2] (1fr)[3];
      grid-template-columns: repeat(2, 1.5fr) repeat(3, 1fr);
}

.button:link, .button:visited {
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 1rem;
  font-weight: 600;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.button--full {
  background-color: #e67e22;
  color: #ffffff;
}

.button--full:active, .button--full:hover {
  background-color: #cf711f;
}

.button--outline {
  background-color: #ffffff;
  color: #555555;
}

.button--outline:active, .button--outline:hover {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 3px #ffffff;
          box-shadow: inset 0 0 0 3px #ffffff;
}

.nav-main__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.2rem;
  font-size: 1.8rem;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-main__link:link, .nav-main__link:visited {
  text-decoration: none;
  display: inline-block;
  color: #333333;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-main__link:hover, .nav-main__link:active {
  color: #cf711f;
}

.nav-main__cta:visited, .nav-main__cta:link {
  background-color: #e67e22;
  color: #fdf2e9;
  border-radius: 1rem;
  padding: 1.2rem 2.4rem;
}

.nav-main__cta:hover, .nav-main__cta:active {
  background-color: #cf711f;
}

.nav-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.4rem;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
}

.list-item strong {
  font-weight: 500;
}

.list-item-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.feature__title {
  font-size: 2.4rem;
  color: #333333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature__text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.feature__icon {
  padding: 1.6rem;
  width: 3.2rem;
  height: 3.2rem;
  color: #e67e22;
  background-color: #fdf2e9;
  border-radius: 50%;
  margin-bottom: 3.2rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 4.8rem;
  height: 9.6rem;
}

.header__logo {
  height: 2.2rem;
}

.hero-container {
  max-width: 130rem;
  /* display: grid;
		grid-template-columns: repeat(2, 1fr);
    gap: 9.6rem; */
  margin: 0 auto;
  padding: 0 3.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-image {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.meals-delivered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8rem;
  gap: 1.6rem;
}

.meals-delivered__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.meals-delivered__images img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 3px solid #fdf2e9;
}

.meals-delivered__images img:not(:first-child) {
  margin-left: -1.6rem;
}

.meals-delivered__text {
  font-size: 1.8rem;
  font-weight: 600;
}

.meals-delivered__text span {
  color: #cf711f;
}

.step-box-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.step-box-images::before, .step-box-images::after {
  content: '';
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.step-box-images::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

.step-box-images::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-box-text {
  /* display: flex;
			flex-direction: column;
			align-items: start;
			justify-content: center; 
      ! we set the grid class align items
      ! property to center */
}

.step-image {
  width: 35%;
}

.step-number {
  font-size: 9.8rem;
  font-weight: 600;
  color: #dddddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
}

/* .section-featured-in {
	text-align: center;
} */
.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  -webkit-filter: brightness(0);
          filter: brightness(0);
  opacity: 50%;
}

.meal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
          box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 1.2rem;
  overflow: hidden;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.meal:hover {
  -webkit-transform: translateY(-1.2rem);
          transform: translateY(-1.2rem);
  -webkit-box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
          box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-image {
  width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.meal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3.2rem 4.8rem 4.8rem;
}

.meal-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.2rem;
}

.meal-tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 100px;
}

.meal-tag--vegetarian {
  background-color: #51cf66;
}

.meal-tag--vegan {
  background-color: #94d82d;
}

.meal-tag--paleo {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 2.4rem;
  color: #333333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.meal-attribute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  gap: 1.6rem;
}

.meal-attribute__strong {
  font-weight: 500;
}

.meal-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #e67e22;
}

/* .diet{
  &-list{
    display: flex;
    gap: 1.6rem;
    flex-direction: column;
  }
  &-name{
    display: flex;
    align-items: center;
    gap: 1.6rem;
    font-size: 1.8rem;
  }
  &-icon{
    width: 3rem;
    height: 3rem;
    color: $color-primary;
  }
} */
.all-recipes-link:link, .all-recipes-link:visited {
  color: #e67e22;
  font-size: 1.8rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
}

.all-recipes-link:hover, .all-recipes-link:active {
  border-bottom: 1px solid transparent;
  color: #cf711f;
}

.section-testimonials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55fr 45fr;
      grid-template-columns: 55fr 45fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 1.6rem;
  gap: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  display: block;
  width: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.gallery-item img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.testimonials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 4.8rem 8rem;
}

.testimonial-image {
  border-radius: 50%;
  width: 6.4rem;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
  line-height: 1.8;
}

.testimonial-name {
  color: #6f6f6f;
  font-size: 1.6rem;
}

.pricing-plan {
  padding: 4.8rem;
  border-radius: 1.1rem;
  width: 75%;
}

.pricing-plan--starter {
  border: 2px solid #fdf2e9;
  -ms-grid-column-align: end;
      justify-self: end;
}

.pricing-plan--complete {
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: "Best value";
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  top: 6%;
  right: -22%;
  color: #333333;
  position: absolute;
  background-color: #ffd43b;
  padding: 0.8rem 10rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.pricing-plan__name {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.pricing-plan__price {
  font-size: 6.2rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
  color: #333333;
}

.pricing-plan__price span {
  font-weight: 500;
  font-size: 3rem;
  margin-right: 0.8rem;
}

.pricing-plan__header {
  margin-bottom: 4.8rem;
  text-align: center;
}

.pricing-plan__text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.pricing-plan__sign-up {
  margin-top: 4.8rem;
  text-align: center;
}

.plan-detail-text {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.6;
}

.cta {
  width: 100%;
  height: 50vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -webkit-box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#eb984e), to(#e67e22));
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
}

.cta-box-text {
  color: #45260a !important;
}

.cta-box-image {
  width: 100%;
}

.footer__column--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__column--address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.footer-logo img {
  width: 100%;
}

.footer-copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  margin-top: auto;
  color: #767676;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2.4rem;
}

.footer-links-item-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.footer-links-item:link, .footer-links-item:visited {
  color: #767676;
  text-decoration: none;
  font-size: 1.6rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer-links-item:hover, .footer-links-item:active {
  color: #555555;
}

.contacts {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  font-style: normal;
  line-height: 1.6;
  font-size: 1.6rem;
}

.address {
  margin-bottom: 2.4rem;
}

.header {
  background-color: #fdf2e9;
}

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.section-featured-in {
  padding: 4.8rem 0 3.2rem 0;
}

.section-how {
  padding: 9.6rem 0;
}

.section-meals {
  padding: 9.6rem 0;
}

.section-testimonials {
  background-color: #fdf2e9;
}

.section-pricing {
  padding: 9.6rem 0;
}

.section-cta {
  padding: 9.6rem 0;
}

.footer {
  padding: 12.8rem 0;
  border: 1px solid #eeeeee;
}
