.hero {
	&-container {
		max-width: 130rem;
		/* display: grid;
		grid-template-columns: repeat(2, 1fr);
    gap: 9.6rem; */
		margin: 0 auto;
    padding: 0 3.2rem;
    align-items: center;
	}
	&-image {
		width: 100%;
	}
  &-description{
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
  }
}

.meals-delivered{
  display: flex;
  align-items: center;
  margin-top: 8rem;
  gap: 1.6rem;
  //justify-content: space-between;
  &__images{
    display: flex;
    
    & img{
      width: 4.8rem;
      height: 4.8rem;
      border-radius: 50%;
      border: 3px solid $color-primary-light-9;
      &:not(:first-child){
        margin-left: -1.6rem;
      }
    }
  }
  &__text{
    font-size: 1.8rem;
    font-weight: 600;
    & span {
      color: $color-primary-dark-9;
    }
  }
}