.step {
	&-box {
		&-images {
			display: flex;
			align-items: center;
			justify-content: center;
      position: relative;
      &::before, &::after{
        content: '';
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
			&::before {
        width: 60%;
        // ! below code provides us height = 60%
        padding-bottom: 60%;
				background-color: $color-primary-light-9;
				z-index: -2;
			}
			&::after {
        width: 45%;
        // ! below code provides us height = 45%
        padding-bottom: 45%;
				background-color: $color-primary-light-8;
        z-index: -1;
			}
		}
		&-text {
			/* display: flex;
			flex-direction: column;
			align-items: start;
			justify-content: center; 
      ! we set the grid class align items
      ! property to center */
		}
	}
	&-image {
		width: 35%;
	}
	&-number {
		font-size: 9.8rem;
		font-weight: 600;
		color: $color-gray-3;
		margin-bottom: 1.2rem;
	}
	&-description {
		font-size: 1.8rem;
		line-height: 1.6;
	}
}
