.section-testimonials {
	display: grid;
	grid-template-columns: 55fr 45fr;
	//grid-template-columns: 1fr 1fr;
	align-items: center;
	@include responsive(tab-port) {
		grid-template-columns: 1fr;
	}
}
.testimonials-container {
	padding: 9.6rem;
	@include responsive(tab-land) {
		padding: 9.6rem 3.2rem;
	}
}
.gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 1.6rem;
	gap: 1.6rem;
	@include responsive(small-desktop) {
		grid-template-columns: repeat(2, 1fr);
	}
	@include responsive(tab-port) {
		grid-template-columns: repeat(6, 1fr);
	}
	@include responsive(phone) {
		grid-template-columns: repeat(4, 1fr);
	}

	&-item {
		overflow: hidden;

		& img {
			width: 100%;
			display: block;
			transition: all 0.4s;
			&:hover {
				transform: scale(1.2);
			}
		}
	}
}

.testimonials {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 4.8rem 8rem;
	@include responsive(phone) {
		grid-template-columns: 1fr;
	}
}
.testimonial {
	&-image {
		border-radius: 50%;
		width: 6.4rem;
		margin-bottom: 1.2rem;
	}
	&-text {
		font-size: 1.8rem;
		margin-bottom: 1.6rem;
		line-height: 1.8;
	}
	&-name {
		color: $color-gray-5;
		font-size: 1.6rem;
	}
}
