.button {
	&,
	&:link,
	&:visited {
		text-decoration: none;
		text-transform: uppercase;
		padding: 1rem 2.5rem;
		display: inline-block;
		border-radius: 6.5rem;
		transition: all 0.2s;
		position: relative;

		// Change for the <button> element
		border: none;
		cursor: pointer;
	}
	&:hover {
		transform: translateY(-0.25rem);
		box-shadow: $button-shadow-hover;
		&::after {
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
		}
	}
	&:active, &:active {
		transform: translateY(-1px);
		box-shadow: $button-shadow-active;
	}
	&::after {
		content: '';
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 6.5rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.4s;
	}
	&--white {
		background-color: $white;
		color: $gray-text-color;
		&::after {
			background-color: $white;
		}
	}
	&--green {
		background-color: $color-primary;
		color: $white;
		&::after {
			background-color: $color-primary;
		}
	}
	&--animated {
		animation: moveInBottom 1s ease-out 0.75s;
		animation-fill-mode: backwards;
	}
}
.button-text {
	&:link,
	&:visited {
		color: $color-primary-light;
		display: inline-block;
		text-decoration: none;
		border-bottom: 2px solid $color-primary-light;
		padding: 0.5rem;
		font-size: 1rem;
		transition: all 0.2s;
		font-weight: 700;
	}
	&:hover {
		color: $white;
		background-color: $color-primary-light;
		box-shadow: $button-shadow-hover;
		transform: translateY(-2px);
	}
	&:active {
		box-shadow: $button-shadow-active;
		transform: translateY(0);
	}
}
