.card {
	// ! FUNCTIONALLITY
	perspective: 100rem;
	-moz-perspective: 100rem;
	position: relative;
	height: 35rem;

	&__side {
		color: white;
		height: 35rem;
		font-size: 1.5rem;
		transition: all 0.8s ease;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		border-radius: 0.5rem;
		overflow: hidden;
		box-shadow: $box-shadow-1;
		&--front {
			background-color: $white;
		}
		&--back {
			transform: rotateY(180deg);
			&-1 {
				background-image: linear-gradient(
					to right bottom,
					$color-secondary-light,
					$color-secondary-dark
				);
			}
			&-2 {
				background-image: linear-gradient(
					to right bottom,
					$color-primary-light,
					$color-primary-dark
				);
			}
			&-3 {
				background-image: linear-gradient(
					to right bottom,
					$color-tertiary-light,
					$color-tertiary-dark
				);
			}
		}
	}
	&:hover &__side--front {
		transform: rotateY(-180deg);
	}
	&:hover &__side--back {
		transform: rotateY(0);
	}

	// ! FRONT SIDE STYLING
	&__picture {
		background-size: cover;
		height: 15rem;
		background-blend-mode: screen;
		/* background-blend-mode: overlay; */
		background-position: center;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
		/* border-top-left-radius: 0.5rem;
		border-top-right-radius: 0.5rem; */

		&--1 {
			background-image: linear-gradient(
					to right bottom,
					$color-secondary-light,
					$color-secondary-dark
				),
				url(../images/nat-5.jpg);
		}
		&--2 {
			background-image: linear-gradient(
					to right bottom,
					$color-primary-light,
					$color-primary-dark
				),
				url(../images/nat-6.jpg);
		}
		&--3 {
			background-image: linear-gradient(
					to right bottom,
					$color-tertiary-light,
					$color-tertiary-dark
				),
				url(../images/nat-7.jpg);
		}
	}
	&__heading {
		font-size: 2rem;
		font-weight: 300;
		color: $white;
		text-transform: uppercase;
		position: absolute;
		top: 7.5rem;
		right: 1.25rem;
		text-align: right;
		width: 75%;
	}

	&__heading-span {
		padding: 1rem 1.5rem;
		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
		&--1 {
			background-image: linear-gradient(
				to right bottom,
				rgba($color-secondary-light, 0.85),
				rgba($color-secondary-dark, 0.85)
			);
		}
		&--2 {
			background-image: linear-gradient(
				to right bottom,
				rgba($color-primary-light, 0.85),
				rgba($color-primary-dark, 0.85)
			);
		}
		&--3 {
			background-image: linear-gradient(
				to right bottom,
				rgba($color-tertiary-light, 0.85),
				rgba($color-tertiary-dark, 0.85)
			);
		}
	}

	&__details {
		padding: 1.75rem;
		color: $gray;
		ul {
			list-style: none;
			width: 80%;
			margin: 0 auto;
			li {
				text-align: center;
				font-size: 1rem;
				padding: 0.75rem;

				&:not(:last-child) {
					border-bottom: 1px solid $color-grey-light-2;
				}
			}
		}
	}

	// ! BACK SIDE STYLING
	&__call-to-action {
		@include absoluteCenter;
		width: 90%;
		text-align: center;
		font-size: 1rem;
	}
	&__price-box {
		text-align: center;
		color: $white;
		margin-bottom: 5rem;
	}
	&__price-only {
		font-size: 1rem;
		text-transform: uppercase;
	}
	&__price-value {
		font-size: 4rem;
		font-weight: 100;
	}

	@include responsive(tab-port) {
		height: auto;
		border-radius: 0.5rem;
		background-color: $white;

		&__details {
			padding: 1rem 3rem ;
			ul {
				li {
					font-size: 1.5rem;
				}
			}
		}
		&__side {
			height: auto;
			position: relative;
			box-shadow: none;

			&--back {
				transform: rotateY(0);
				-webkit-clip-path: polygon(15% 0, 100% 15%, 100% 100%, 0 100%);
				clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
			}
		}
		&:hover &__side--front {
			transform: rotateY(0);
		}

		&__call-to-action {
			position: relative;
			top: 0;
			left: 0;
			transform: translate(0);
			width: 100%;
			padding: 4.375rem 2.5rem 2.5rem 2.5rem;
		}
		&__price-box {
			margin: 1rem 0;
		}
		&__price-value {
			font-size: 4rem;
		}
	}
}
