.feature{
  &__title{
    font-size: 2.4rem;
    color: $color-gray-2;
    font-weight: 700;
    margin-bottom: 1.6rem;
  }
  &__text{
    font-size: 1.8rem;
    line-height: 1.8;
  }
  &__icon{
    padding: 1.6rem;
    width: 3.2rem;
    height: 3.2rem;
    color: $color-primary;
    background-color: $color-primary-light-9;
    border-radius: 50%;
    margin-bottom: 3.2rem;
  }
}