.story {
	width: 75%;
	margin: 0 auto;
	box-shadow: 0 2rem 5rem rgba($black, 0.1);
	background-color: rgba($white, 0.6);
	border-radius: 0.25rem;
	padding: 3.75rem;
	padding-left: 5.625rem;
	font-size: 1rem;
	transform: skewX(-12deg);

	@include responsive(tab-port) {
		transform: skew(0);
		width: 100%;
		padding: 2.5rem;
		padding-left: 4.375rem;
	}
	@include responsive(phone) {
		transform: skew(0);
		width: 100%;
	}

	&__shape {
		width: 9.5rem;
		height: 9.5rem;
		float: left;
		-webkit-shape-outside: circle(50% at 50% 50%);
		shape-outside: circle(50% at 50% 50%);
		-webkit-clip-path: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%);
		transform: translateX(-2rem) skewX(12deg);
		overflow: hidden;
		border-radius: 50%;

		@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
			-webkit-shape-outside: circle(50% at 50% 50%);
			shape-outside: circle(50% at 50% 50%);
			-webkit-clip-path: circle(50% at 50% 50%);
			clip-path: circle(50% at 50% 50%);
			border-radius: 0;
		}
		@include responsive(tab-port) {
			transform: translateX(-2rem) skew(0);
		}
		/* position: relative; */
	}
	&__image {
		height: 100%;
		transform: translateX(-2.5rem) scale(1.4);
		backface-visibility: hidden;
		transition: all 0.5s;
	}
	&__text {
		transform: skewX(12deg);
		@include responsive(tab-port) {
			transform: skew(0);
		}
	}
	&__caption {
		@include absoluteCenter;
		color: $white;
		text-transform: uppercase;
		text-align: center;
		font-size: 1.01rem;
		opacity: 0;
		transition: all 0.5s;
		backface-visibility: hidden;
		font-weight: bold;
	}
	&:hover &__caption {
		opacity: 1;
		transform: translate(-50%, -50%);
		outline: none;
	}
	&:hover &__image {
		transform: translateX(-2.5rem) scale(1);
		filter: blur(1rem) brightness(80%);
	}
}
