body {
	font-family: $lato-font-family;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.7;
	color: $gray-text-color;
}
.heading-primary {
	color: $white;
	text-transform: uppercase;
	backface-visibility: hidden;
	margin-bottom: 4rem;

	&--main {
		display: block;
		font-size: 3.75rem;
		font-weight: 400;
		letter-spacing: 2.1875rem;
		animation: moveInLeft 1s;
		animation-timing-function: ease-out;
		@include responsive(phone) {
			letter-spacing: 0.25rem;
			font-size: 4.5rem;
		}
	}

	&--sub {
		display: block;
		font-size: 1.25rem;
		font-weight: 700;
		letter-spacing: 1.075rem;
		animation: moveInRight 1s;
		animation-timing-function: ease-out;

		@include responsive(phone) {
			letter-spacing: 0.25rem;
			font-size: 1.75rem;
		}
	}
}
.heading-secondary {
	font-size: 2.25rem;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	background-image: linear-gradient(
		to right,
		$color-primary-light,
		$color-primary-dark
	);
	-webkit-background-clip: text;
	color: transparent;
	letter-spacing: 0.125rem;
	transition: all 0.2s;
	text-align: center;

	@include responsive(tab-port) {
		font-size: 2.5rem;
		max-width: 90%;
	}
	@include responsive(phone) {
		font-size: 2rem;
		max-width: 100%;
		text-align: center;
	}

	&:hover {
		transform: skewY(2deg) skewX(15deg) scale(1.1);
		text-shadow: 0.5rem 1rem 2rem rgba($black, 0.2);
	}
}

.heading-tertiary {
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	color: $gray-text-color;
}
.paragraph {
	font-size: 1rem;
	color: $gray-text-color;
	&:not(:last-child) {
		margin-bottom: 2.5rem;
	}
}
